<!-- <p>
  <input type="text" [(ngModel)]="..task..">
  
</p> -->

  <h1>TODO List</h1>
  <p>A place to store your todos</p>


  <span *ngFor="let t of ToDos; let ToDoIndex = index;">
    <h3>
    <!-- <div *ngIf= "t.task.contains(searchText)"; -->
    
      <button (click)="editToDo(t)">Edit</button>
      <input *ngIf="t.editing" type="text" class="EditToDo" [placeholder]="t.task" [(ngModel)]="t.task" (keyup.enter)="editToDo(t)">
      <button *ngIf="!t.completed" (click)="completeToDo(t)">Complete</button>
      {{t.task}}
      <button (click)="deleteToDo(ToDoIndex)">X</button> 
    </h3>
    
  </span>

  <input type="text" class="AddToDo" placeholder="Enter your ToDo Here"[(ngModel)]="todoTask" (keyup.enter)="addToDo()"> 

